# Indexing, Slicing, etc!

In [1]:
import pandas as pd
surveys_df = pd.read_csv("surveys.csv")

In [2]:
surveys_df['species_id']

0         NL
1         NL
2         DM
3         DM
4         DM
5         PF
6         PE
7         DM
8         DM
9         PF
10        DS
11        DM
12        DM
13        DM
14        DM
15        DM
16        DS
17        PP
18        PF
19        DS
20        DM
21        NL
22        DM
23        SH
24        DM
25        DM
26        DM
27        DM
28        PP
29        DS
        ...
35519     SF
35520     DM
35521     DM
35522     DM
35523     PB
35524     OL
35525     OT
35526     DO
35527     US
35528     PB
35529     OT
35530     PB
35531     DM
35532     DM
35533     DM
35534     DM
35535     DM
35536     DM
35537     PB
35538     SF
35539     PB
35540     PB
35541     PB
35542     PB
35543     US
35544     AH
35545     AH
35546     RM
35547     DO
35548    NaN
Name: species_id, Length: 35549, dtype: object

In [4]:
surveys_species = surveys_df.species_id

In [5]:
surveys_df[['species_id', 'plot_id']]

      species_id  plot_id
0             NL        2
1             NL        3
2             DM        2
3             DM        7
4             DM        3
5             PF        1
6             PE        2
7             DM        1
8             DM        1
9             PF        6
10            DS        5
11            DM        7
12            DM        3
13            DM        8
14            DM        6
15            DM        4
16            DS        3
17            PP        2
18            PF        4
19            DS       11
20            DM       14
21            NL       15
22            DM       13
23            SH       13
24            DM        9
25            DM       15
26            DM       15
27            DM       11
28            PP       11
29            DS       10
...          ...      ...
35519         SF        9
35520         DM        9
35521         DM        9
35522         DM        9
35523         PB        9
35524         OL        9
35525         OT        8
35526         DO       13
35527         US       13
35528         PB       13
35529         OT       13
35530         PB       13
35531         DM       14
35532         DM       14
35533         DM       14
35534         DM       14
35535         DM       14
35536         DM       14
35537         PB       15
35538         SF       15
35539         PB       15
35540         PB       15
35541         PB       15
35542         PB       15
35543         US       15
35544         AH       15
35545         AH       15
35546         RM       10
35547         DO        7
35548        NaN        5

[35549 rows x 2 columns]

In [7]:
surveys_df.head

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN

In [8]:
a = list(range(10))

In [9]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
a[0:5]

[0, 1, 2, 3, 4]

In [12]:
a[:5]

[0, 1, 2, 3, 4]

In [13]:
a[4:]

[4, 5, 6, 7, 8, 9]

In [14]:
a[-1]

9

In [15]:
a[-3]

7

In [17]:
a[4:]

[4, 5, 6, 7, 8, 9]

In [18]:
a[::3]

[0, 3, 6, 9]

In [21]:
g = surveys_df[['plot_id','species_id','sex']][20:61:5]

In [22]:
g

    plot_id species_id sex
20       14         DM   F
25       15         DM   M
30       15         DM   F
35       16         OT   F
40       23         DM   F
45       19         DM   M
50       21         DM   F
55       20         DM   M
60       23         DM   M

In [23]:
string = "abcdefgh "

In [24]:
string[-1]

' '

In [25]:
string[0]

'a'

In [28]:
string.strip('h ')

'abcdefg'